Firmado Sunat/ErickOrlando.FirmadoSunat/Service References/Sunat/billService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.sunat.gob.pe" targetNamespace="http://service.sunat.gob.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://www.sunat.gob.pe:443/ol-ti-itcpgem-beta/billService?xsd=1" namespace="http://service.sunat.gob.pe" />
    </xsd:schema>
  </types>
  <message name="sendBill">
    <part name="parameters" element="tns:sendBill" />
  </message>
  <message name="sendBillResponse">
    <part name="parameters" element="tns:sendBillResponse" />
  </message>
  <message name="sendSummary">
    <part name="parameters" element="tns:sendSummary" />
  </message>
  <message name="sendSummaryResponse">
    <part name="parameters" element="tns:sendSummaryResponse" />
  </message>
  <message name="sendPack">
    <part name="parameters" element="tns:sendPack" />
  </message>
  <message name="sendPackResponse">
    <part name="parameters" element="tns:sendPackResponse" />
  </message>
  <message name="getStatus">
    <part name="parameters" element="tns:getStatus" />
  </message>
  <message name="getStatusResponse">
    <part name="parameters" element="tns:getStatusResponse" />
  </message>
  <portType name="billService">
    <operation name="sendBill">
      <input message="tns:sendBill" />
      <output message="tns:sendBillResponse" />
    </operation>
    <operation name="sendSummary">
      <input message="tns:sendSummary" />
      <output message="tns:sendSummaryResponse" />
    </operation>
    <operation name="sendPack">
      <input message="tns:sendPack" />
      <output message="tns:sendPackResponse" />
    </operation>
    <operation name="getStatus">
      <input message="tns:getStatus" />
      <output message="tns:getStatusResponse" />
    </operation>
  </portType>
</definitions>