OpenInvoicePeru/OpenInvoicePeru.Servicio.Soap/Service References/Consultas/billConsultService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service.sunat.gob.pe" targetNamespace="http://service.sunat.gob.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getStatus" type="tns:getStatus" />
  <xs:element name="getStatusCdr" type="tns:getStatusCdr" />
  <xs:element name="getStatusCdrResponse" type="tns:getStatusCdrResponse" />
  <xs:element name="getStatusResponse" type="tns:getStatusResponse" />
  <xs:complexType name="getStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="rucComprobante" type="xs:string" />
      <xs:element minOccurs="0" name="tipoComprobante" type="xs:string" />
      <xs:element minOccurs="0" name="serieComprobante" type="xs:string" />
      <xs:element minOccurs="0" name="numeroComprobante" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" type="tns:statusResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="statusCode" type="xs:string" />
      <xs:element minOccurs="0" name="statusMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStatusCdr">
    <xs:sequence>
      <xs:element minOccurs="0" name="rucComprobante" type="xs:string" />
      <xs:element minOccurs="0" name="tipoComprobante" type="xs:string" />
      <xs:element minOccurs="0" name="serieComprobante" type="xs:string" />
      <xs:element minOccurs="0" name="numeroComprobante" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStatusCdrResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="statusCdr" type="tns:statusResponse" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>